* {
    box-sizing: border-box;
}

.not-found-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #232121;
    color: white;
    overflow: hidden;
    margin: 0;
    font-family: sans-serif;
}

.page {
    width: 100%;
    height: 100%;
    display: flex;
}

.side-bar {
    padding: 8px;
    width: 387px;
    background-color: #292929;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    min-width: 400px;
    max-height: 100%;
    padding: 60px 15%;
    font-size: 30px;

    &__header {
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 40px;
    }
}

.todo-list {
    margin-top: 20px;
    overflow: auto;
}

.todo-item-template-wrapper {
    width: 100%;
}

.todo-item-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.todo-item {
    padding: 8px;
    display: flex;
    gap: 12px;

    &__label {
        cursor: pointer;
        display: flex;
        gap: 12px;
        width: fit-content;

        input[type="checkbox"]:checked + .todo-item__text {
            color: #b0b0b0;
            text-decoration: line-through;
        }
    }

    &__checkbox {
        -webkit-appearance: none;
        appearance: none;

        margin-top: 8px;
        width: 20px;
        height: 20px;
        border: 2px solid white; 
        background-color: transparent;
        border-radius: 2px;
        cursor: pointer;
        outline: none;
        flex-shrink: 0;

        &:checked {
            appearance: checkbox;
        }
    }

    &__text {
        // empty for now
    }

    &__text-input {
        all: unset;
    }

    &__kebab-menu-container {
        width: 40px;
        height: 40px;
        cursor: pointer;
        margin-right: 2px;
    }

    &__kebab-menu {
        width: 100%;
        height: 100%;
        padding: 4px;
    
        svg {
            width: 100%;
            height: 100%;
        }

        &:hover {
            background: rgba(95, 94, 94, 0.3);
            border-radius: 4px;
        }
    }

    &__dropdown-menu {
        position: fixed;
        z-index: 100;
        font-size: 18px;
        padding: 12px;
        background-color: #3c3b3b;
        border-radius: 6px;
        min-width: 135px;
        display: flex;
        flex-direction: column;
        gap: 4px;

        &--edit, &--delete {
            padding: 8px;
            cursor: pointer;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        
            span {
                padding: 0 4px;
            }
        
            svg {
                width: 25px;
                height: 25px;
            }

            &:hover {
                background: rgba(136, 135, 135, 0.3);
            }
        }

    }

    // ...
}

.add-task-button {
    cursor: pointer;
    width: fit-content;
    height: 40px;
    padding: 4px;
    display: flex;
    align-items: center;
    gap: 10px;

    svg {
        width: fit-content;
        height: 100%;
    }
}

.new-task-form {
    width: fit-content;

    input {
        all: unset;
    };
}

.hidden {
    display: none;
}