@use '../utils/mixins';

.login-page {
    background-color: white;
}

.login-form-container {
    @include mixins.centerAbsolute;
    top: 40%;
}

.login-form {
    width: 42rem;
    color: var(--black-bg);
    border-radius: 1.2rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    &__header {
        font-size: 3rem;
        white-space: nowrap;

        &--main {
            font-weight: bold;
        }

        &--sub {
            font-size: 2.8rem;
            font-weight: 600;
            color: #b2b2b2;
        }
    }

    &__separator {
        height: .5px;
        width: 70%;
        align-self: center;
        background-color: #cacaca;
        margin: 1.5rem 0;
    }

    &__input {
        width: 100%;
        padding: 1.5rem 2rem;
        border-radius: .8rem;
        border: 1px solid #929292;

        &::placeholder {
            color: #b2b2b2;
        }

        &--with-invalid {
            &:invalid {
                outline: rgb(255, 0, 0) auto 1px;
            }
        }
    }

    &__button {
        width: 100%;
        padding: 1rem 2rem;
        background: linear-gradient(to right,  #3ca4ff, #006FD1);
        color: white;
        border-radius: .6rem;
        border: 1px solid;
        cursor: pointer;

        &:active {
            border: 1px solid black;
            transform: scale(1.01);
        }
    }
}