.tasks-content {
    padding: 12rem 15% 6rem 25%;
    font-size: 3rem;

    &__header {
        display: flex;
        align-items: center;
        font-size: 4rem;
    }

    &__main {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 3rem;
    }
}

.todo-list {
    overflow: auto;
}

.todo-item-template-wrapper {
    width: 100%;
}

.todo-item-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.todo-item {
    padding: .8rem;
    display: flex;
    gap: 1.2rem;

    &__label {
        cursor: pointer;
        display: flex;
        gap: 1.2rem;
        width: fit-content;

        input[type="checkbox"]:checked + .todo-item__text {
            color: #b0b0b0;
            text-decoration: line-through;
        }
    }

    &__checkbox {
        -webkit-appearance: none;
        appearance: none;

        margin-top: .8rem;
        width: 2rem;
        height: 2rem;
        border: 2px solid white; 
        background-color: transparent;
        border-radius: 2px;
        cursor: pointer;
        outline: none;
        flex-shrink: 0;

        &:checked {
            appearance: checkbox;
        }
    }
    
    &__text-input {
        all: unset;
    }

    &__kebab-menu-container {
        width: 4rem;
        height: 4rem;
        cursor: pointer;
        margin-right: .2rem;
    }

    &__kebab-menu {
        width: 100%;
        height: 100%;
        padding: .4rem;
    
        svg {
            width: 100%;
            height: 100%;
        }

        &:hover {
            background: var(--tab-hover-bg);
            border-radius: 4px;
        }
    }

    &__dropdown-menu {
        position: fixed;
        z-index: 100;
        font-size: 1.8rem;
        padding: 1.2rem;
        background-color: #3c3b3b;
        border-radius: 6px;
        min-width: 13.5rem;
        display: flex;
        flex-direction: column;
        gap: .4rem;

        &--edit, &--delete {
            padding: .8rem;
            cursor: pointer;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        
            span {
                padding: 0 .4rem;
            }
        
            svg {
                width: 2.5rem;
                height: 2.5rem;
            }

            &:hover {
                background: rgba(136, 135, 135, 0.3);
            }
        }

    }

    // ...
}

.add-task-button {
    cursor: pointer;
    width: fit-content;
    height: 4rem;
    padding: .4rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    svg {
        width: fit-content;
        height: 100%;
    }
}

.new-task-form {
    width: fit-content;

    input {
        all: unset;
    };
}