@use "../utils/mixins";

.tasks-page {
    display: flex;
    width: 100%;
    height: 100%;
}

.tasks-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    min-width: 40rem;
    max-width: 100rem;
    padding: 12rem 6rem 6rem 12rem;
    margin: 0 auto;
    font-size: 3rem;

    &__header {
        font-size: 4rem;
    }

    &__main {
        flex: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

.todo-list {
    overflow: auto;
}

.todo-item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    &__content-container {
        flex: 1;
        padding: .8rem;
        display: flex;
        gap: 1.2rem;
        max-width: calc(100% - 5rem);
    }

    &__content {
        cursor: pointer;
        display: flex;
        gap: 1.2rem;

        input[type="checkbox"]:checked + .todo-item__text {
            color: #b0b0b0;
            text-decoration: line-through;
        }
    }

    &__checkbox {
        -webkit-appearance: none;
        appearance: none;

        margin-top: .8rem;
        width: 2rem;
        height: 2rem;
        border: 2px solid white; 
        background-color: transparent;
        border-radius: 2px;
        cursor: pointer;
        outline: none;
        flex-shrink: 0;

        &:checked {
            appearance: checkbox;
        }
    }

    &__text {
        max-width: 100%;
        word-break: break-word;
    }

    &__text-input {
        all: unset;
        width: 100%;
    }

    &__kebab-menu {
        flex-shrink: 0;
        width: 4rem;
        height: 4rem;
        cursor: pointer;
        margin-right: .4rem;
        padding: .4rem;
        transition: background .2s;
        overflow: hidden;
    
        svg {
            width: 100%;
            height: 100%;
        }
    
        &:hover {
            background: var(--grey-hover);
            border-radius: 4px;
        }
    }

    &__dropdown {
        position: fixed;
        z-index: 100;
        font-size: 1.8rem;
        padding: 1.2rem;
        min-width: 13.5rem;
        background-color: #343434;
        border-radius: .6rem;
        display: flex;
        flex-direction: column;
        gap: .4rem;
    
        @include mixins.shadowElevation;
        @include mixins.dropdownInitial;
    
        &--open {
            @include mixins.dropdownAppear;
        }
    }

    &__dropdown-edit-button, &__dropdown-delete-button {
        @include mixins.buttonReset;
    
        padding: .8rem;
        cursor: pointer;
        user-select: none;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: background .2s;
    
        span {
            padding: 0 .4rem;
        }
    
        svg {
            width: 2.5rem;
            height: 2.5rem;
        }

        &:hover {
            background: rgba(136, 135, 135, 0.3);
        }
    }
}

.add-task-button {
    cursor: pointer;
    user-select: none;
    width: fit-content;
    height: 4rem;
    padding: .4rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    svg {
        width: fit-content;
        height: 100%;
    }
}

.new-task-form {
    width: fit-content;

    input {
        all: unset;
    };
}

.tasks-sidebar {
    width: 33rem;
    min-width: 24rem;
    height: 100%;
    background-color: var(--dark-grey-bg);
    padding: 2rem 1.5rem;
    font-size: 2rem;
    color: var(--grey-text);
    border-right: 1px solid #343434;
    box-shadow: 2px 0px 4px rgba(6, 6, 6, .1);

    &__tabs-container {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        gap: .4rem;
    }

    &__tab {
        @include mixins.buttonReset;

        padding: .8rem 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        border-radius: .6rem;
        user-select: none;
        cursor: pointer;
        transition: background .2s;

        &:hover, &--active {
            background-color: var(--grey-hover);
            color: var(--white-text);
        }

        &--head {
            color: var(--white-text);
        }
    }

    &__tab-icon {
        width: 2.5rem;
        height: 2.5rem;
        flex: 0 0 auto;
        fill: currentColor;
    }

    &__tab-label {
        // makes alignment look better
        transform: translateY(1px);
        flex: 1;
        line-height: 1.5;

        @include mixins.clippableText;
    }

    &__down-chevron {
        width: 1.7rem;
        height: 1.7rem;
        fill: var(--grey-text);

        &:hover {
            transform: scale(1.3);
        }
    }
}

.tasks-sidebar-profile-dropdown {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 100;
    background-color: #272727;
    border-radius: 1.2rem;
    overflow: hidden;
    padding: 1rem 1.5rem;
    font-size: 1.8rem;
    width: 20rem;

    @include mixins.dropdownInitial;
    @include mixins.shadowElevation;

    &--open {
        @include mixins.dropdownAppear;
    }
    
    &__tab {
        @include mixins.buttonReset;

        padding: .8rem 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        border-radius: .6rem;
        cursor: pointer;
        user-select: none;

        &:hover {
            background-color: var(--grey-hover);
            color: var(--white-text);
        }
    }
}