* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--black-bg);
  color: var(--white-text);
  overflow: hidden;
  margin: 0;
  font-family: sans-serif;
}

:root {
  --black-bg: #181818;
  --white-text: #D3D3D3;
  --dark-grey-bg: #1D1D1D;
  --grey-text: #909090;
  --grey-hover: rgba(95, 94, 94, 0.3);
}

.tasks-page {
  display: flex;
  width: 100%;
  height: 100%;
}

.tasks-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  min-width: 40rem;
  max-width: 100rem;
  padding: 12rem 6rem 6rem 12rem;
  margin: 0 auto;
  font-size: 3rem;
}
.tasks-content__header {
  font-size: 4rem;
}
.tasks-content__main {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.todo-list {
  overflow: auto;
}

.todo-item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.todo-item__content-container {
  flex: 1;
  padding: 0.8rem;
  display: flex;
  gap: 1.2rem;
  max-width: calc(100% - 5rem);
}
.todo-item__content {
  cursor: pointer;
  display: flex;
  gap: 1.2rem;
}
.todo-item__content input[type=checkbox]:checked + .todo-item__text {
  color: #b0b0b0;
  text-decoration: line-through;
}
.todo-item__checkbox {
  -webkit-appearance: none;
  appearance: none;
  margin-top: 0.8rem;
  width: 2rem;
  height: 2rem;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  flex-shrink: 0;
}
.todo-item__checkbox:checked {
  appearance: checkbox;
}
.todo-item__text {
  max-width: 100%;
  word-break: break-word;
}
.todo-item__text-input {
  all: unset;
  width: 100%;
}
.todo-item__kebab-menu {
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  margin-right: 0.4rem;
  padding: 0.4rem;
  transition: background 0.2s;
  overflow: hidden;
}
.todo-item__kebab-menu svg {
  width: 100%;
  height: 100%;
}
.todo-item__kebab-menu:hover {
  background: var(--grey-hover);
  border-radius: 4px;
}
.todo-item__dropdown {
  position: fixed;
  z-index: 100;
  font-size: 1.8rem;
  padding: 1.2rem;
  min-width: 13.5rem;
  background-color: #343434;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  box-shadow: 8px 10px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.2s ease, transform 0.2s ease;
}
.todo-item__dropdown--open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.todo-item__dropdown-edit-button, .todo-item__dropdown-delete-button {
  text-align: left;
  background-color: transparent;
  border: none;
  color: inherit;
  font: inherit;
  padding: 0.8rem;
  cursor: pointer;
  user-select: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background 0.2s;
}
.todo-item__dropdown-edit-button span, .todo-item__dropdown-delete-button span {
  padding: 0 0.4rem;
}
.todo-item__dropdown-edit-button svg, .todo-item__dropdown-delete-button svg {
  width: 2.5rem;
  height: 2.5rem;
}
.todo-item__dropdown-edit-button:hover, .todo-item__dropdown-delete-button:hover {
  background: rgba(136, 135, 135, 0.3);
}

.add-task-button {
  cursor: pointer;
  user-select: none;
  width: fit-content;
  height: 4rem;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.add-task-button svg {
  width: fit-content;
  height: 100%;
}

.new-task-form {
  width: fit-content;
}
.new-task-form input {
  all: unset;
}

.tasks-sidebar {
  width: 33rem;
  min-width: 24rem;
  height: 100%;
  background-color: var(--dark-grey-bg);
  padding: 2rem 1.5rem;
  font-size: 2rem;
  color: var(--grey-text);
  border-right: 1px solid #343434;
  box-shadow: 2px 0px 4px rgba(6, 6, 6, 0.1);
}
.tasks-sidebar__tabs-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.tasks-sidebar__tab {
  text-align: left;
  background-color: transparent;
  border: none;
  color: inherit;
  font: inherit;
  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0.6rem;
  user-select: none;
  cursor: pointer;
  transition: background 0.2s;
}
.tasks-sidebar__tab:hover, .tasks-sidebar__tab--active {
  background-color: var(--grey-hover);
  color: var(--white-text);
}
.tasks-sidebar__tab--head {
  color: var(--white-text);
}
.tasks-sidebar__tab-icon {
  width: 2.5rem;
  height: 2.5rem;
  flex: 0 0 auto;
  fill: currentColor;
}
.tasks-sidebar__tab-label {
  transform: translateY(1px);
  flex: 1;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tasks-sidebar__down-chevron {
  width: 1.7rem;
  height: 1.7rem;
  fill: var(--grey-text);
}
.tasks-sidebar__down-chevron:hover {
  transform: scale(1.3);
}

.tasks-sidebar-profile-dropdown {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  background-color: #272727;
  border-radius: 1.2rem;
  overflow: hidden;
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
  width: 20rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.2s ease, transform 0.2s ease;
  box-shadow: 8px 10px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.tasks-sidebar-profile-dropdown--open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.tasks-sidebar-profile-dropdown__tab {
  text-align: left;
  background-color: transparent;
  border: none;
  color: inherit;
  font: inherit;
  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0.6rem;
  cursor: pointer;
  user-select: none;
}
.tasks-sidebar-profile-dropdown__tab:hover {
  background-color: var(--grey-hover);
  color: var(--white-text);
}

.not-found-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 2.4rem;
}

.login-page {
  background-color: white;
}

.login-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  font-size: 1.6rem;
  top: 40%;
}

.login-form {
  width: 39rem;
  color: var(--black-bg);
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.login-form__header {
  font-size: 3rem;
  white-space: nowrap;
}
.login-form__header--main {
  font-weight: bold;
}
.login-form__header--sub {
  font-size: 2.8rem;
  font-weight: 600;
  color: #b2b2b2;
}
.login-form__separator {
  height: 0.5px;
  width: 70%;
  align-self: center;
  background-color: #cacaca;
  margin: 1.5rem 0;
}
.login-form__input {
  width: 100%;
  padding: 1.5rem 2rem;
  border-radius: 0.8rem;
  border: 1px solid #929292;
}
.login-form__input::placeholder {
  color: #b2b2b2;
}
.login-form__input--with-invalid:invalid {
  outline: rgb(255, 0, 0) auto 1px;
}
.login-form__button {
  width: 100%;
  padding: 1rem 2rem;
  background: linear-gradient(to right, #3ca4ff, #006FD1);
  color: white;
  border-radius: 0.6rem;
  border: 1px solid;
  cursor: pointer;
}
.login-form__button:active {
  border: 1px solid black;
  transform: scale(1.01);
}
.login-form__fail-message {
  color: red;
  width: 100%;
  text-align: center;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
