.page {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar-layout {
    width: 33rem;
    min-width: 24rem;
}

.content-layout {
    flex: 1;
    min-width: 40rem;
    max-height: 100%;
}